# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
env/
.env/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Saídas geradas pelo código
saida.xlsx
final.xlsx

# OS
.DS_Store
Thumbs.db